.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
.idea/
*.iml
*.sqlite
*.sqlite-shm
*.sqlite-wal
windows/flutter/ephemeral/
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.*
